@import '../../../styles/mixins';
@media screen and (min-width: $desktop) {
}
.section {
	margin-top: 40px;
	@media screen and (min-width: $desktop) {
		margin-top: 60px;
	}
}

.container {
	max-width: 1140px;
	padding-left: 15px;
	padding-right: 15px;
	margin: auto;
	@media screen and (min-width: $desktop) {
	padding: 0;
}
}
.title {
	color: $text-black-600;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 152%; /* 36.48px */
	letter-spacing: 1.2px;
	text-transform: uppercase;
	@media screen and (min-width: $desktop) {
	font-size: 48px;
}
}
.btn {
	color: $text-black-600;
	text-align: center;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%; /* 22.5px */
	text-decoration-line: underline;
	padding-bottom: 5px;
	@media screen and (min-width: $desktop) {
		padding-bottom: 0;
		text-align: center;
	font-size: 24px;

	}
}
.box {
	display: flex;
	justify-content: space-between;
	gap: 66px;
	align-items: flex-end;
	@media screen and (min-width: $desktop) {
		align-items: center;
	}
}
.list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.item {
	padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
	@media screen and (min-width: $desktop) {
		padding: 0;
	}
    span {
        margin-bottom: 10px;
    }
}
.img {
    width: 60px;
    height: 60px;
    border: 1px solid $text-black-600;
    border-radius: 50%;
}
.text {
	color: $text-black-600;
	text-align: center;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.span {
    color: $text-black-600;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
