@import '../../../styles/mixins';
@media screen and (min-width: $desktop) {}
.section {
	margin-top: 40px;
	background-color: $bg-stone-400;
@media screen and (min-width: $desktop) {
	background-color: $bg-red-900;
	margin-top: 93px;

}

}

.container {
	max-width: 1140px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 14.5px 15px;
	margin: auto;
@media screen and (min-width: $desktop) {
	flex-direction: row;
	justify-content: flex-end;
    gap: 20px;
	padding: 0;
}
}

.title {
	text-align: center;
	color: $text-white;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 152%; /* 36.48px */
	letter-spacing: 1.2px;
	text-transform: uppercase;
	@media screen and (min-width: $desktop) {
		font-size: 48px;
		text-align: start;
    width: min-content;
	}
}
.primaryBox{
	@media screen and (min-width: $desktop) {
		gap: 20px;

	}
}
.text {
	padding: 5px 55px 15px 55px;
	color: $text-white;
	text-align: center;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 22.5px */
	@media screen and (min-width: $desktop) {
	font-size: 24px;
	text-align: start;
	padding: 0;
	}
}
.boxForm{
	width: 100% ;
	@media screen and (min-width: $desktop) {
		padding: 58px 48px;
		background-color: $bg-stone-400;
		position: relative;
		top: -33px;
		width: 463px;
		margin-bottom: -33px;
	 }
}
.form {
	display: flex;
	flex-direction: column;
	margin: auto 0;
	text-align: left;
	width: 100%;
	gap: 25px;
	@media screen and (min-width: $desktop) {
	gap: 35px;
}
}
.input {
	color: $text-black-700;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 21px */
	border-bottom: 1px solid $text-black-700;
	padding-left: 5px;
	padding-bottom: 5px;
    background-color: transparent;
    transition: opacity 0.3s ease;
    // opacity: 0.7; 
}
.input::placeholder {
	color: $text-black-700;
}
.button {
	position: relative;
	z-index: 100;
	// padding-right: 25px;
	// padding-left: 25px;
	height: 48px;
	// width: 290px;
	border: 1px solid rgba(179, 179, 179, 0.2);
	// color: #b3b3b3;
	// font-size: 11px;
	letter-spacing: 0.1em;
	color: $text-black-600;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	// text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button.animate:after {
	animation: button-after-back 525ms cubic-bezier(0.895, 0.03, 0.685, 0.22)
			forwards,
		button-after2-back 525ms 525ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.button.animate:before {
	animation: button-before-back 525ms cubic-bezier(0.895, 0.03, 0.685, 0.22)
			forwards,
		button-before2-back 525ms 525ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.button:before {
	content: '';
	position: absolute;
	border-top: 1px solid #b3b3b3;
	border-left: 1px solid #b3b3b3;
	width: 70%;
	animation: button-before-back 0s cubic-bezier(0.895, 0.03, 0.685, 0.22)
			forwards,
		button-before2-back 0s 0s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
	height: calc(100% + 1px);
	left: -1px;
	bottom: -1px;
	right: auto;
	top: auto;
}

.button:hover:before {
	border-right: 1px solid #b3b3b3;
	border-left: 0;
	animation: button-before 525ms cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards,
		button-before2 525ms 525ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.button:hover:after {
	border-right: 0;
	border-left: 1px solid #b3b3b3;
	animation: button-after 525ms cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards,
		button-after2 525ms 525ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.button:after {
	content: '';
	position: absolute;
	border-bottom: 1px solid #b3b3b3;
	border-right: 1px solid #b3b3b3;
	width: 30%;
	animation: button-after-back 0s cubic-bezier(0.895, 0.03, 0.685, 0.22)
			forwards,
		button-after2-back 0s 0s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
	height: 0;
	left: -1px;
	right: auto;
	bottom: -1px;
	top: auto;
}

.button .animate {
	overflow: hidden;
	padding-right: 40px;
	height: 20px;
	display: flex;
	align-items: center;
}

@keyframes button-after-back {
	0% {
		left: -1px;
		right: auto;
		bottom: -1px;
		top: auto;
		width: 70%;
		height: 0;
	}

	77% {
		width: calc(100% + 1px);
		height: 0;
	}

	100% {
		width: calc(100% + 1px);
		height: calc(100% + 1px);
	}
}

@keyframes button-after2-back {
	0% {
		width: calc(100% + 1px);
		height: calc(100% + 1px);
		right: -1px;
		left: auto;
	}

	77% {
		width: 30%;
		height: calc(100% + 1px);
	}

	100% {
		right: -1px;
		left: auto;
		width: 30%;
		height: calc(100% + 1px);
	}
}

@keyframes button-before-back {
	0% {
		left: -1px;
		right: auto;
		top: -1px;
		bottom: -1px;
		width: 30%;
		height: calc(100% + 1px);
	}

	77% {
		width: 0;
		height: calc(100% + 1px);
	}

	100% {
		width: 0;
		height: 0;
		left: -1px;
		right: auto;
		top: auto;
		bottom: -1px;
	}
}

@keyframes button-before2-back {
	0% {
		width: 0;
		height: 0;
		right: -1px;
		left: auto;
		top: -1px;
		bottom: auto;
	}

	77% {
		width: 70%;
		height: 0;
	}

	100% {
		width: 70%;
		height: 0;
		right: -1px;
		left: auto;
		top: -1px;
		bottom: auto;
	}
}

@keyframes button-before {
	0% {
		width: 70%;
		height: calc(100% + 1px);
		right: -1px;
		bottom: -1px;
		left: auto;
		top: -1px;
	}

	77% {
		width: 0;
		height: calc(100% + 1px);
	}
	100% {
		width: 0;
		height: 0;
		right: -1px;
		bottom: -1px;
		left: auto;
		top: auto;
	}
}

@keyframes button-before2 {
	0% {
		width: 0;
		height: 0;
		left: -1px;
		right: auto;
		top: -1px;
		bottom: auto;
	}

	77% {
		width: 30%;
		height: 0;
	}

	100% {
		left: -1px;
		right: auto;
		top: -1px;
		bottom: auto;
		width: 30%;
		height: 0;
	}
}

@keyframes button-after {
	0% {
		width: 30%;
		height: 0;
		right: -1px;
		bottom: -1px;
		top: auto;
		left: auto;
	}

	76.99% {
		right: -1px;
		left: auto;
	}

	77% {
		width: calc(100% + 1px);
		height: 0;
		right: auto;
		left: -1px;
	}

	100% {
		width: calc(100% + 1px);
		height: calc(100% + 1px);
		right: -1px;
		left: auto;
	}
}

@keyframes button-after2 {
	0% {
		width: calc(100% + 1px);
		height: calc(100% + 1px);
		left: -1px;
		right: auto;
		bottom: -1px;
		top: auto;
	}

	77% {
		width: 70%;
		height: calc(100% + 1px);
	}

	100% {
		left: -1px;
		right: auto;
		bottom: -1px;
		top: auto;
		width: 70%;
		height: calc(100% + 1px);
	}
}
