@import '../../../styles/mixins';

.container {
	max-width: 1140px;
	display: flex;
	align-items: center;
	// justify-content: space-between;
	padding-top: 30px;
	margin: auto;
	background-color: black;
}

@keyframes button-before-back {
	0% {
		left: -1px;
		right: auto;
		top: auto;
		bottom: -1px;
		width: 30%;
		height: calc(100% + 1px);
	}
	77% {
		width: 0;
		height: calc(100% + 1px);
	}
	100% {
		width: 0;
		height: 0;
		left: -1px;
		right: auto;
		top: auto;
		bottom: -1px;
	}
}

@keyframes button-before2-back {
	0% {
		width: 0;
		height: 0;
		right: -1px;
		left: auto;
		top: -1px;
		bottom: auto;
	}
	77% {
		width: 70%;
		height: 0;
	}
	100% {
		width: 70%;
		height: 0;
		right: -1px;
		left: auto;
		top: -1px;
		bottom: auto;
	}
}

//   @keyframes button-before-back {
//     0%{
//         left: -1px;
//     right: auto;
//     top: auto;
//     bottom: -1px;
//     width: 30%;
//     height: calc(100% + 1px);
//     }
//     77% {
//         width: 0;
//         height: calc(100% + 1px);
//     }100% {
//         width: 0;
//         height: 0;
//         left: -1px;
//         right: auto;
//         top: auto;
//         bottom: -1px;
//     }
// }
// @keyframes button-before2-back{
//     0% {
//         width: 0;
//         height: 0;
//         right: -1px;
//         left: auto;
//         top: -1px;
//         bottom: auto;
//     }
//     77% {
//         width: 70%;
//         height: 0;
//     }
//     100% {
//         width: 70%;
//         height: 0;
//         right: -1px;
//         left: auto;
//         top: -1px;
//         bottom: auto;
//     }
// }
