@import '../../../styles/mixins';
@media screen and (min-width: $desktop) {
}
.section {
	margin-top: 65px;
	background-color: $bg-red-900;
	position: relative;
	@media screen and (min-width: $desktop) {
	margin-top: 128px;

	}
}
.container {
	max-width: 1140px;
	display: flex;
	// align-items: center;
	justify-content: center;
	flex-direction: column-reverse;
	margin: auto;
	padding: 0 15px 15px 15px;
	@media screen and (min-width: $desktop) {
		flex-direction: column;
		padding: 0 0 15px 0;
		margin-top: -433px;
		gap: 12px;
	}
}

.boxImg {
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: relative;
	top: -25px;
	gap: 15px;
	@media screen and (min-width: $desktop) {
		top: -68px;
		justify-content: flex-start;
	}
}
.boxText {
	display: flex;
	justify-content: space-between;
	color: $text-white;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 152%; /* 36.48px */
	letter-spacing: 1.2px;
	text-transform: uppercase;
	button {
		font-size: 15px;
		font-weight: 600;
		line-height: 150%; /* 22.5px */
		text-align: start;
		text-decoration-line: underline;
		@media screen and (min-width: $desktop) {
			font-size: 24px;
			text-decoration-line: none;
		}
	}
	@media screen and (min-width: $desktop) {
		gap: 619px;
		justify-content: flex-start;
		font-size: 48px;
		letter-spacing: 2.4px;
	}
}
.text {
	color: $text-white;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 22.5px */
	text-align: center;
	@media screen and (min-width: $desktop) {
		max-width: 366px;
		font-size: 24px;
		position: relative;
		top: 0;
		right: 0;
		bottom: 0;
		left: 774px;
		padding-top: 50px;
	}
}
