@import '../../../styles/mixins';
.header {
	// position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;
	transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
	transition-duration: 300ms;
	background-color: $text-gray-100;
	// background-copadding-top: 30px;lor: rgba(255, 255, 255, 0.5)
}
.container {
	max-width: 1140px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	padding: 10px 15px;
	@media screen and (min-width: $desktop) {
		padding: 0;
		padding-top: 30px;
	}

}
.logo {
	width: 107px;
	height: 39px;
	z-index: 102;
}
.list {
	color: $text-black-700;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 0 199px 0 97px;
	gap: 40px;
}
.listMob {
	color: $text-white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
}
.itemMob {
	color: $text-black-600;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	cursor: pointer;
}

.item {
	display: inline-block;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	cursor: pointer;
	@media screen and (min-width: $desktop) {
	font-weight: 500;
	}
}
.dropdown {
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	gap:5px;
	transition: all 2s ease;
}


.dropdown:hover > .content {
	position: absolute;
	top: 100%;
	// top: calc(100% + 15px);
	right: -100%;
	width: max-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 198px;
	z-index: 1;
	opacity: 1;
}
.point{
	width: 9px;
	height: 9px;
	background-color: $bg-white;
	border-radius: 50%;
}

.content {
	display: none;
	
	position: absolute;
	padding: 15px;
	// background-color: #f1f1f1;
	// min-width: 198px;
	// z-index: 1;
	// opacity: 1;
}
.content:hover{
	display: block;
}


.contentItem {
	float: none;
	text-decoration: none;
	display: block;
	color: $text-black-600;
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	:hover{
		cursor: pointer;
	}
}

.box {
	width: 170px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.boxNumber {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 19px;
}

.number {
	color: $text-black-700;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	@media screen and (min-width: $desktop) {
	font-weight: 500;

	}
}
.boxText {
	color: $text-black-700;
	text-align: center;
	font-family: Montserrat;
	font-size: 8px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	opacity: 0.5;
}

// !Burger

.hamburger {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 1.5rem;
	width: 1.5rem;
	cursor: pointer;
}

.hamburgerTop,
.hamburgerMiddle,
.hamburgerBottom {
	height: 5px;
	background: black;
	border-radius: 5px;
	margin: 3px 0px;
	transform-origin: left;
	transition: all 0.5s;
}

.hamburger:hover .hamburgerTop {
	transform: rotate(45deg);
	width: 1.4rem;
}

.hamburger:hover .hamburgerMiddle {
	opacity: 0;
}

.hamburger:hover .hamburgerBottom {
	transform: rotate(-45deg);
	width: 1.4rem;
}

// Modal
.icon {
	display: flex;
	width: 100%;
	justify-content: space-between;
	z-index: 102;
	cursor: pointer;
}

.mobmenu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	background: $bg-white;
	text-align: center;
	z-index: 101;
	gap: 35px;
}

.button {
	position: relative;
	z-index: 100;
	// padding-right: 25px;
	// padding-left: 25px;
	height: 48px;
	// width: 290px;
	border: 1px solid rgba(179, 179, 179, 0.2);
	// color: #b3b3b3;
	// font-size: 11px;
	letter-spacing: 0.1em;
	color: $text-black-600;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	// text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button.animate:after {
	animation: button-after-back 525ms cubic-bezier(0.895, 0.03, 0.685, 0.22)
			forwards,
		button-after2-back 525ms 525ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.button.animate:before {
	animation: button-before-back 525ms cubic-bezier(0.895, 0.03, 0.685, 0.22)
			forwards,
		button-before2-back 525ms 525ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.button:before {
	content: '';
	position: absolute;
	border-top: 1px solid #b3b3b3;
	border-left: 1px solid #b3b3b3;
	width: 70%;
	animation: button-before-back 0s cubic-bezier(0.895, 0.03, 0.685, 0.22)
			forwards,
		button-before2-back 0s 0s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
	height: calc(100% + 1px);
	left: -1px;
	bottom: -1px;
	right: auto;
	top: auto;
}

.button:hover:before {
	border-right: 1px solid #b3b3b3;
	border-left: 0;
	animation: button-before 525ms cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards,
		button-before2 525ms 525ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.button:hover:after {
	border-right: 0;
	border-left: 1px solid #b3b3b3;
	animation: button-after 525ms cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards,
		button-after2 525ms 525ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.button:after {
	content: '';
	position: absolute;
	border-bottom: 1px solid #b3b3b3;
	border-right: 1px solid #b3b3b3;
	width: 30%;
	animation: button-after-back 0s cubic-bezier(0.895, 0.03, 0.685, 0.22)
			forwards,
		button-after2-back 0s 0s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
	height: 0;
	left: -1px;
	right: auto;
	bottom: -1px;
	top: auto;
}

.button .animate {
	overflow: hidden;
	padding-right: 40px;
	height: 20px;
	display: flex;
	align-items: center;
}

@keyframes button-after-back {
	0% {
		left: -1px;
		right: auto;
		bottom: -1px;
		top: auto;
		width: 70%;
		height: 0;
	}

	77% {
		width: calc(100% + 1px);
		height: 0;
	}

	100% {
		width: calc(100% + 1px);
		height: calc(100% + 1px);
	}
}

@keyframes button-after2-back {
	0% {
		width: calc(100% + 1px);
		height: calc(100% + 1px);
		right: -1px;
		left: auto;
	}

	77% {
		width: 30%;
		height: calc(100% + 1px);
	}

	100% {
		right: -1px;
		left: auto;
		width: 30%;
		height: calc(100% + 1px);
	}
}

@keyframes button-before-back {
	0% {
		left: -1px;
		right: auto;
		top: -1px;
		bottom: -1px;
		width: 30%;
		height: calc(100% + 1px);
	}

	77% {
		width: 0;
		height: calc(100% + 1px);
	}

	100% {
		width: 0;
		height: 0;
		left: -1px;
		right: auto;
		top: auto;
		bottom: -1px;
	}
}

@keyframes button-before2-back {
	0% {
		width: 0;
		height: 0;
		right: -1px;
		left: auto;
		top: -1px;
		bottom: auto;
	}

	77% {
		width: 70%;
		height: 0;
	}

	100% {
		width: 70%;
		height: 0;
		right: -1px;
		left: auto;
		top: -1px;
		bottom: auto;
	}
}

@keyframes button-before {
	0% {
		width: 70%;
		height: calc(100% + 1px);
		right: -1px;
		bottom: -1px;
		left: auto;
		top: -1px;
	}

	77% {
		width: 0;
		height: calc(100% + 1px);
	}
	100% {
		width: 0;
		height: 0;
		right: -1px;
		bottom: -1px;
		left: auto;
		top: auto;
	}
}

@keyframes button-before2 {
	0% {
		width: 0;
		height: 0;
		left: -1px;
		right: auto;
		top: -1px;
		bottom: auto;
	}

	77% {
		width: 30%;
		height: 0;
	}

	100% {
		left: -1px;
		right: auto;
		top: -1px;
		bottom: auto;
		width: 30%;
		height: 0;
	}
}

@keyframes button-after {
	0% {
		width: 30%;
		height: 0;
		right: -1px;
		bottom: -1px;
		top: auto;
		left: auto;
	}

	76.99% {
		right: -1px;
		left: auto;
	}

	77% {
		width: calc(100% + 1px);
		height: 0;
		right: auto;
		left: -1px;
	}

	100% {
		width: calc(100% + 1px);
		height: calc(100% + 1px);
		right: -1px;
		left: auto;
	}
}

@keyframes button-after2 {
	0% {
		width: calc(100% + 1px);
		height: calc(100% + 1px);
		left: -1px;
		right: auto;
		bottom: -1px;
		top: auto;
	}

	77% {
		width: 70%;
		height: calc(100% + 1px);
	}

	100% {
		left: -1px;
		right: auto;
		bottom: -1px;
		top: auto;
		width: 70%;
		height: calc(100% + 1px);
	}
}
