$mobile: 320px;
$tablet: 768px;
$desktop: 1360px;

$text-white: #ffffff;
$neutral-text-700: #3F3F3F;
$neutral-text-600: #515151;

$bg-color-red-900: #771010;
$bg-color-stone-400: #B29671;
$bg-color-zinc-100: #f3f3f3;


$color-stone-300: #cbc6be;
