$mobile: 320px;
$tablet: 768px;
$desktop: 1360px;


$text-red-900: #771010;
$text-stone-400: #B29671;
$text-black-700: #3F3F3F;
$text-black-600: #515151;
$text-gray-300: #cbc6be;
$text-gray-100: #f3f3f3;
$text-white: #ffffff;
$text-black: rgba(0, 0, 0, 0.52);

$bg-red-900: #771010;
$bg-stone-400: #B29671;
$bg-black-700: #3F3F3F;
$bg-black-600: #515151;
$bg-gray-300: #cbc6be;
$bg-gray-100: #f3f3f3;
$bg-white: #ffffff;
$bg-black: #000000;